.App {
  background-image: url('/public/res/PIA04304.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content: center;
}
