.images-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/public/res/PIA04304.jpg');
    width: 100vh;
    height: 100vh;
}

.images-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    height: 100%;
}

.image {
    max-width: 100px;
    max-height: 100px;
    margin: 1.0em;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: 1.5em;
}

.camera-name {
    font-size: 0.3em;
    text-align: center;
}

.images-back {
    margin-bottom: 5em;
    align-self: center;
    justify-self: center;
}
